html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Barlow;
}

div, p, .btn, button, h1, h2, h3, h4, h5, h6, table, hr, a, select, li, ul, dl, strong{
  opacity: 1;
  animation-name: example;
  animation-duration: 0.5s;
}

/* .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
} */

@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}